.modalPanel{
	pointer-events: none;
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 80%;
	position: absolute;
	align-items: center;
	z-index: 30;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 0px 16px;
	border-radius: 48px;
	backdrop-filter: blur(15px);
}
.infoButton {
	z-index: 30;
	position: absolute;
	right: 24px;
	bottom: 16px;
	cursor: pointer;
}
.messageItem {
	margin-bottom: 24px;
}
.messageCloseButton {
	position: fixed;
	right: 12px;
	top: 12px;
	z-index: 50;
	cursor: pointer;
}
.profileImage {
	border-radius: 20px;
	margin: 4px 24px;
}
.name {
	margin: 0 8px;
	color: white;
	font-size: 18px;
}
.messageText {
	color: white;
	margin-left: 40px;
	width: 90%;
	font-size: 16px;
}
.screenName {
	color: lightgray;
}
.messageHeader {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;
}
/*.scale:hover{*/
/*	transform: scale(0.17);*/
/*}*/
/*.scale:hover +.fill{*/
/*	fill: black;*/
/*	fill-opacity: 0.5;*/
/*}*/

.closeButton {
	width: 88px;
	height: 88px;
	position: absolute;
	right: 0px;
	top: 24px;
	cursor: pointer;
}

.modalBackground {
	pointer-events: none;
	border-radius: 48px;
	opacity: 0;
	position: absolute;
	scale: 1.33;
	width: 50px;
	height: 50px;
	right: 50px;
	bottom: 42px;
	background: black;
	z-index: 30;
	backdrop-filter: blur(30px);
}

.verticalTitle{
	padding: 12px 0px;
	color: white;
	font-size: 28px;
	text-align: center;
}

.bigFont{
	font-size: 30px;
	font-weight: bold;
}

.verticalDescription{
	color: white;
	font-size: 14px;
	text-align: center;
	padding-bottom: 48px;
}

.verticalMediumText{
	padding: 8px 0;
	color: white;
	font-size: 18px;
	text-align: center;
}

.modalTitle{
	color: white;
	font-size: 32px;
	margin: 16px 0px;
	text-align: center;
	margin-top: 48px;
}
.modalText{
	color: white;
	font-size: 13px;
	padding: 0px 24px;
	text-align: center;
	font-weight: normal;
}
.modalText2{
	color: white;
	font-size: 14px;
	padding: 0px 24px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 24px;
}
.modalMediamText{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.lightBlue{
	color: skyblue;
}
.magenta{
	color: magenta;
}
.modalEmotion{
	margin: 8px;
	text-align: center;
	font-size: 18px;
}
.messagePannel{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 25%;
	height: 100%;
	right: 0;
	z-index: 40;
	padding: 32px 24px;
	backdrop-filter: blur(15px);
}
.messageList::-webkit-scrollbar {
	display: none;
}
.messageList {
	height: 100%;
	overflow: scroll;
	scrollbar-width: none;
}
.messageListBottom {
	width: 100%;
	height: 0px;
	opacity: 0;
}
.messageButton{
	cursor: pointer;
	position: absolute;
	right: 120px;
	bottom: 32px;
	z-index: 30;
}
.positiveIcon{
	position: absolute;
	right: -72px;
	top: 48px;
}
.negativeScoreGage{
	padding-left: 28px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: magenta;
	position: absolute;
	top: 66px;
	left: -12px;
	height: 48px;
	font-size: 18px;
}
.positiveScoreGage{
	background: skyblue;
	position: absolute;
	top: 66px;
	right: -12px;
	height: 48px;
}
.positiveScoreGageText{
	padding-right: 28px;
	position: absolute;
	top: 76px;
	right: -12px;
	font-size: 18px;
}
.negativeScoreGageText{
	padding-left: 28px;
	position: absolute;
	top: 76px;
	left: -12px;
	font-size: 18px;
}
.negativeIcon{
	position: absolute;
	left: -72px;
	top: 48px;
}
.gradientColor{
	stop-color: skyblue;
}
.totalScore{
	position: absolute;
	top: -30%;
}
.totalScoreNumber{
	position: absolute;
	top: 0;
	font-size: 32px;
}
.pointPannel {
	position: absolute;
	width: 320px;
	left: 0;
	right: 0;
	margin: 48px auto;
	z-index: 30;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(4px);
}
.tweetButton{
	border-radius: 12px;
	color: white;
	text-align: center;
	padding: 8px;
	margin: auto;
	background: deepskyblue;
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	box-sizing: border-box;
}
