.tweetBoxText{
	margin: 8px;
}

.modalPanel{
	pointer-events: none;
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 80%;
	position: absolute;
	align-items: center;
	z-index: 30;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 0px 16px;
	border-radius: 48px;
	backdrop-filter: blur(15px);
}

.authorPanel{
	pointer-events: none;
	opacity: 0;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 60%;
	position: absolute;
	align-items: center;
	z-index: 30;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 0px 16px;
	border-radius: 48px;
	backdrop-filter: blur(15px);
}
.infoButton {
	z-index: 30;
	position: absolute;
	right: 24px;
	bottom: 16px;
	cursor: pointer;
}

.supervisedButton {
	z-index: 30;
	position: absolute;
	right: 204px;
	bottom: 28px;
	cursor: pointer;
}
.messageItem {
	margin-bottom: 24px;
}
.messageCloseButton {
	position: fixed;
	right: 12px;
	top: 12px;
	z-index: 50;
	cursor: pointer;
}
.profileImage {
	border-radius: 20px;
	margin: 4px 24px;
}
.name {
	margin: 0 8px;
	color: white;
	font-size: 18px;
}
.messageText {
	color: white;
	margin-left: 40px;
	width: 90%;
	font-size: 16px;
}
.screenName {
	color: lightgray;
}
.messageHeader {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;
}

.closeButton {
	width: 88px;
	height: 88px;
	position: absolute;
	right: 0px;
	top: 24px;
	cursor: pointer;
}

.modalBackground {
	pointer-events: none;
	border-radius: 48px;
	opacity: 0;
	position: absolute;
	scale: 1.33;
	width: 50px;
	height: 50px;
	right: 50px;
	bottom: 42px;
	background: black;
	z-index: 30;
	backdrop-filter: blur(30px);
}

.authorBackground {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	pointer-events: none;
	border-radius: 48px;
	opacity: 0;
	position: absolute;
	width: 50px;
	height: 50px;
	background: black;
	z-index: 30;
	backdrop-filter: blur(30px);
}

.verticalTitle{
	padding: 12px 0px;
	color: white;
	font-size: 28px;
	text-align: center;
}

.bigFont{
	font-size: 30px;
	font-weight: bold;
}

.verticalDescription{
	color: white;
	font-size: 14px;
	text-align: center;
	padding-bottom: 48px;
}

.verticalMediumText{
	padding: 8px 0;
	color: white;
	font-size: 18px;
	text-align: center;
}

.modalTitle{
	color: white;
	font-size: 32px;
	margin: 28px 0px;
	text-align: center;
}
.authorCardImage {
	opacity: inherit;
	overflow: hidden;
	border-radius: 100px;
}
.authorCardName {
	margin: 8px;
	font-size: 28px;
	color: white;
	font-weight: 400;
}
.authorCardProfession {
	font-size: 14px;
	color: whitesmoke;
	margin-bottom: 32px;
}
.snsIconList {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
}
.snsIcon{
	cursor: pointer;
}
.authorCardContainer {
	width: 40%;
	align-items: center;
	display: flex;
	flex-direction: column;
}
.authorList{
	padding: 24px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.authorTitle{
	color: white;
	font-size: 40px;
	margin-top: 24px;
	text-align: center;
}
.modalText{
	color: white;
	font-size: 16px;
	padding: 0px 24px;
	text-align: center;
	font-weight: normal;
}
.modalText2{
	color: white;
	font-size: 14px;
	padding: 0px 24px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 36px;
}
.modalMediamText{
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.lightBlue{
	color: skyblue;
}
.magenta{
	color: magenta;
}
.modalEmotion{
	margin: 8px;
	text-align: center;
	font-size: 18px;
}
.messagePannel{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 25%;
	height: 100%;
	right: 0;
	z-index: 40;
	padding: 32px 24px;
	backdrop-filter: blur(15px);
}
.messageList::-webkit-scrollbar {
	display: none;
}
.messageList {
	height: 100%;
	overflow: scroll;
	scrollbar-width: none;
}
.messageListBottom {
	width: 100%;
	height: 0px;
	opacity: 0;
}
.messageButton{
	cursor: pointer;
	position: absolute;
	right: 120px;
	bottom: 32px;
	z-index: 30;
}
.positiveIcon{
	position: absolute;
	right: -72px;
	top: 48px;
}
.negativeScoreGage{
	padding-left: 28px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: magenta;
	position: absolute;
	top: 66px;
	left: -12px;
	height: 48px;
	font-size: 18px;
}
.positiveScoreGage{
	background: skyblue;
	position: absolute;
	top: 66px;
	right: -12px;
	height: 48px;
}
.positiveScoreGageText{
	padding-right: 28px;
	position: absolute;
	top: 76px;
	right: -12px;
	font-size: 18px;
}
.negativeScoreGageText{
	padding-left: 28px;
	position: absolute;
	top: 76px;
	left: -12px;
	font-size: 18px;
}
.negativeIcon{
	position: absolute;
	left: -72px;
	top: 48px;
}
.gradientColor{
	stop-color: skyblue;
}
.totalScore{
	position: absolute;
	top: -30%;
}
.totalScoreNumber{
	position: absolute;
	top: 0;
	font-size: 32px;
}
.pointPannel {
	position: absolute;
	width: 320px;
	left: 0;
	right: 0;
	margin: 48px auto;
	z-index: 30;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(4px);
}
.tweetButton{
	border-radius: 12px;
	color: white;
	text-align: center;
	padding: 8px;
	margin: auto;
	background: deepskyblue;
	cursor: pointer;
	font-size: 24px;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	box-sizing: border-box;
}

@media (max-width: 900px){
	.pointPannel{
		margin: 12px auto;
		transform-origin: center;
		transform: scale(0.7);
	}
	.modalTitle{
		font-size: 20px;
		margin: 12px auto;
	}
	.modalText, .modalText2{
		font-size: 8px;
		margin-bottom: 0px;
	}
	.modalMediamText {
		font-size: 12px;
	}
	.modalEmotion{
		font-size: 9px;
		margin: 4px auto;
	}
	.tweetButton{
		transform-origin: center;
		transform: scale(0.6);
		font-size: 12px !important;
	}
	.closeButton{
		top: 0px;
		transform-origin: center;
		transform: scale(0.6);
	}
	.infoButton{
		transform-origin: center;
		transform: scale(0.8);
		right: 8px;
		bottom: 8px;
	}
	.supervisedButton{
		transform-origin: center;
		transform: scale(0.8) !important;
		right: 144px;
		bottom: 20px;
	}
	.messageButton{
		transform-origin: center;
		transform: scale(0.8) !important;
		right: 88px;
		bottom: 24px;
	}
	.authorTitle{
		font-size: 28px;
		margin-top: 12px;
	}
	.authorCardName {
		font-size: 14px;
		font-weight: 400;
	}
	.authorCardProfession {
		font-size: 9px;
		margin-bottom: 16px;
	}
}

